* {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    margin: 0;
    background-color: #eeeeee;
    
}

img {
    max-width: 100%; 
    padding: 2px;

}

.images {
    color: white;
    display: flex;
 
}

div > div {
    width: 300px; 
    height: 300px; 
    padding: 30px; 
}

.active{
    background-color: cadetblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    
}

button {
    font-family: 'Montserrat', sans-serif;
    background-color: #696969;
    color: white;
    padding: 6px;
    text-decoration: none;
    font-size: 12px;
    border-radius: 8px;
    border: none;
    margin: 3px;
}

cite {
    font-size: 12px;
    color: dimgrey;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding-left: 30px;
    padding-top: 120px;
}





