* {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    margin: 0;
}

img {
    max-width: 100%; 
}

.images {
    color: white;
    display: flex;
    
}

div > div {
    width: 200px; 
    height: 200px; 
    padding: 20px; 
}

.active{
    background-color: cadetblue;
}